/include
/lib_pypy
/lib-python
/lib
/lib64
/local
/bin
/testingdb.sqlite3
/db.sqlite
*.pyc
__pycache__
*~
/site-packages
/db.cnf
/settings.py
/namespaces/*
/ifaces/r/prootwrap
/ifaces/r/proot
/src
/sandboxes/*
/media/*
