{% extends "base_staff.html" %}

{% block title %}Import Course{% endblock %}

{% block body %}
<header>
    Import a course
</header>

<section>
    <form method='POST'>
        {% csrf_token %}
        {{ form.errors }}
        {% if import_error %}
            {{ import_error }}<br/><br/>
        {% endif %}
        <label>Paste the code data here:<br/>
        {{ form.text }}</label>
        <br/>
        <label>If a course already exists with the same title (i.e., if you haven't changed it in the file), do the following:
        <br/>{{ form.mode }}</label><br/>
        <label>If a user is to be added to the course but doesn't exist, do the following:
        <br/>{{ form.user_mode }}<br/></label>
        <input type='submit'/>
    </form>
</section>
{% endblock %}

{% block location %}Import Course{% endblock %}
