{% extends "base_staff.html" %}
{% load form_errors %}

{% block title %}Staff{% endblock %}

{% block content %}
<section>
    Add users to the course
        <a href='{% url "courses:course" course=course.slug %}'>{{ course.title }}</a>
</section>

{% form_errors form %}
<section><form method='POST'>
    {% csrf_token %}
    Each user must be on their own line.<br/>
    Usernames must not contain spaces; any characters after a space will be ignored.<br/>
    Any user that is not in the system will be created with their password as their username.<br/>
    To remove a user from the course, remove them from this list.<br/>
    <br/>
    <label>Users:<br/>
    <textarea name='users'>{{ users }}</textarea></label><br/><br/>
    <input type='submit'>
</form></section>
{% endblock %}

{% block location %}Add/Remove User{% endblock %}
