{% extends "base_staff.html" %}
{% load form_errors %}

{% block title %}File Manager{% endblock %}

{% block content %}
{% form_errors form %}
<section>
    The following files are visible from formatting; images can be displayed using
    {% if task_files.0 %}
        [img]{{ task_files.0 }}[/img]
    {% else %}
        [img]myfile.png[/img]
    {% endif %}.
    
    {% for f in task_files %}
        <form action='{% url "staff:delete" lesson=lesson.slug course=course.slug %}' method='POST'>
            {% csrf_token %}
            <input type='hidden' name='location' value='t'/>
            <input type='hidden' name='basename' value='{{ f }}'/>
            <span class='delete-file'><input type='submit' value='Delete'> - </span>{{ f }}
        </form>
    {% endfor %}
</section>

<hr/>

<section>
    The following files are visible from code prompts as the files in its running directory.
    {% for f in sandbox_files %}
        <form action='{% url "staff:delete" lesson=lesson.slug course=course.slug %}' method='POST'>
            {% csrf_token %}
            <input type='hidden' name='location' value='s'/>
            <input type='hidden' name='basename' value='{{ f }}'/>
            <span class='delete-file'><input type='submit' value='Delete'> - </span>{{ f }}
        </form>
    {% endfor %}
</section>

<hr/>

<section><form method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    Upload a file:<br/>
    {{ form.file }}<br/>
    So that it is visible from {{ form.location }}<br/>
    <input type='submit'>
</form></section>

<section>
    <a href='{% url "courses:lesson" course=course.slug lesson=lesson.slug %}'>Return to lesson</a>
</section>
{% endblock %}

{% block location %}File Manager{% endblock %}
