{% extends "base_staff.html" %}
{% load lformat %}

{% block title %}Help{% endblock %}
{% block location %}Help{% endblock %}

{% block body %}
<section>
    <strong name='what'>What are Courses, Lessons, Sections and Tasks?</strong><br/>
    Courses contain Lessons which contain Sections which contain Tasks.<br/>
    <br/>
    A task is a single prompt with associated text such as instructions on what to do.<br/>
    <br/>
    A section contains a number of tasks, and generally serves to group them under a single heading.<br/>
    <br/>
    A lesson contains a group sections. Each lesson has its own page, and can be independently published.<br/>
    <br/>
    A course contains group of lessons, and contains information on what students can access the course.
</section>

<section>
    <strong name='admin'>Admin Interface</strong><br/>
    The admin interface allows you to directly change courses, lessons, sections and tasks. You can access the admin
    interface at <a href='{% url "admin:index" %}'>{% url "admin:index" %}</a> or through any "add", "edit" or "manage"
    links.
    <br/>
    You can use the admin to change things, if you have followed an &quot;edit&quot; link, you will see a form that
    allows you to change the thing you followed the link for. Simply make your modifications and click "save" to save
    the object.
    <br/>
    If you select save and continue, you will be able to add another thing of the same type, for example, if you added a
    lesson, save and add another would allow you to add another lesson.
    <br/>
    Field names in <strong>bold</strong> are required, everything else is optional.
    <br/>
    If you reach the admin page from a &quot;manage&quot; link, you will be presented with a list of objects. Simply
    click on the object you wish to edit to change it. You can also use the "move" arrows to change the order of the
    objects if it is appropriate.
</section>
{% endblock %}
