<!DOCTYPE html>
<html>
    <head>
        <title>{{ task.pk }}: Strain</title>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    </head>
    
    <body>
        <div>This page will submit a random number to the task {{ task.pk }} every 1 to 10 seconds.</div>
        
        <div>
            Requests: <span id='requests'>0</span>,
            Success: <span id='success'>0</span>,
            Failure: <span id='failure'>0</span>
        </div>
        
        <form class='prompt' method='POST' action='{% url "tasks:submit" task=task.pk %}' >
            {% csrf_token %}
            <input type='hidden' name='mode' value='answer'/>
            <input name='code'/>
        </form>
        
        <script>
            var requests = 0;
            var success = 0;
            var failure = 0;
            
            $("form").on("submit", function(e) {
                var form = $(this);
                var formData = form.serialize();
                
                requests ++;
                $("#requests").html(requests);
                
                $.ajax(form.attr("action"), {"method":"POST", "data":formData, "dataType":"json",
                "success":function(data) {
                    if(data.output.toLowerCase().indexOf("timeout") !== -1) {
                        failure ++;
                        $("#failure").html(failure);
                    }else{
                        success ++;
                        $("#success").html(success);
                    }
                }, "error":function(jqXHR, textStatus, errorThrown) {
                    failure ++;
                    $("#failure").html(failure);
                }});
                
                return false;
            });
            
            
            function _do() {
                document.querySelector("[name=code]").value = ~~(Math.random() * 100000);
                $("form").submit();
                
                setTimeout(_do, (~~(Math.random() * 10) + 1) * 1000);
            }
            _do();
        </script>
    </body>
</html>
