/* Document */
html {
    height:100%;
    font-family:serif;
    font-size:16px;
}

body {
    margin:0px;
    background-color:#fcfcff;
    height:100%;
}

ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}

header, section, nav, main { 
    display: block; 
}

h4 {
    font-weight:normal;
}


/* Sidebar and general layout */
.container {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    height:100%;
    position:fixed;
    width:100%
}

.sidebar {
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    width:250px;
    background-color:#5555ee;
    border-right:3px solid #333399;
    color:#eeeeee;
    padding:3px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    height:100%;
    white-space:nowrap;
    overflow-x:hidden;
}

.ie10 .sidebar {
    overflow-y:auto;
}

.sidebar hr {
    border:1px solid #6666ff;
}

.sidebar .location {
    font-size:120%;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    
    padding:5px;
}

.sidebar-contents {
    overflow-y:auto;
    padding:5px;
    overflow-x:hidden;
}

.sidebar-contents ul {
    
}

.logout-form {
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    padding:5px;
}

.expand-img {
    position: fixed;
    left: 234px; /* 250 - 8 (padding) - 8 (half the size of the element */
    top: 8px;
    cursor:pointer;
}

.content {
    /*padding:10px;*/
    overflow-y:auto;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
}

.content > * {
    margin:5px;
    margin-top:15px;
    margin-bottom:5px;
    margin-left:15px;
    margin-right:15px;
}

.fragment > div, .fragment > nav {
    margin-top:15px;
    margin-bottom:5px;
}

.no-sidebar-block {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding:50px;
    text-align: center;
}

#error {
    margin-left:0px;
    margin-right:0px;
    padding:5px;
    padding-right:26px;
    margin-top:0px;
    background-color:#cc3333;
    border-bottom:3px solid #771111;
    border-right:3px solid #771111;
    border-bottom-right-radius:5px;
    position:fixed;
    display:none;
    z-index:1;
}

#error-close {
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
}

.form-errors {
    background-color:#eecccc;
    border-radius:3px;
    padding:5px;
}

/* Course/lesson list */
.course-block, .lesson-block, .section-head {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    padding: 5px;
    background-color: #5555ee;
    border: 1px solid #3333cc;
    color: #eeeeee;
    border-radius: 3px;
    background: linear-gradient(#5555ee, #3333cc);
}

.course-block div, .lesson-block div, .section-head div {
    margin:0px !important;
}

.lesson-block.no-answers {
    background-color: #8855ee;
    border: 1px solid #6633cc;
    background: linear-gradient(#8855ee, #6633cc);
}

.course-block.unpublished, .lesson-block.unpublished {
    background-color: #ee8855;
    border: 1px solid #cc6633;
    background: linear-gradient(#bb5533, #993300);
}

.section-state-none {
    color:#bbbbbb;
}

.section-state-skipped {
    color:#ffee00;
}

.section-state-revealed, .section-state-complete {
    color:inherit;
}

/* Prompt */
.prompt {
    font-family:monospace;
    margin-left:15px !important;
    margin-right:15px !important;
    margin-top:10px;
    margin-bottom:5px;
    padding:10px;
    background-color:#333333;
    color:#eeeeee;
    border-radius:5px;
    position:relative;
}

.prompt * {
    margin:0px;
}

[data-type=task] hr {
    border:1px solid #ccc;
    width: 50%;
    margin:auto;
}

.prompt .pre-code {
    color:#ddcc88;
}

.prompt-indicator, .loading, .no-answer-exists, .is-multiline, .takes-prior {
    color:#999999;
    overflow-y:hidden;
}

.prompt .output {
    /* color:#cccccc; */
    white-space:pre;
}

.prompt .output.error {
    color:#cc7755;
}

.prompt .output.revealed {
    color:#7799ee;
}

.prompt-entry-container {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}

.prompt textarea {
    color:inherit;
    background:inherit;
    border:none;
    resize:none;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex: 1 1 auto;
    height:17px; /* Why 17? No idea */
    font-size:inherit;
    padding:0px;
    outline:none;
    overflow:hidden;
}

.prompt-button {
    position:absolute;
    top:10px;
    cursor:pointer;
}

.prompt-button.skip {
    right:31px;
}

.prompt-button.reveal {
    right:10px;
}

.prompt-button.run {
    right:10px;
    bottom:10px;
    top:inherit;
}

.prompt img.plot {
    border:2px solid #999999;
    border-radius:10px;
}

/* Lecturer formatting */
.l-warning, .l-note, .l-info, .staff-options, .messages, .wrong-text, .skip-text {
    padding:5px;
    border-radius:3px;
}

.l-warning {
    background-color:#eecccc;
}

.l-warning::before {
    content:"Warning:";
    color:#883333;
}

.l-note {
    background-color:#cceecc;
}

.l-note::before {
    content:"Note:";
    color:#337733;
}

.l-info {
    background-color:#ccccee;
}

.l-info::before {
    content:"Extra Info:";
    color:#333388;
}

.l-click {
    font-family:mono;
    background-color:#dddddd;
    padding:1px;
    border-radius:2px;
    cursor:pointer;
    font-size:80%;
    border:1px solid #999999;
}

.wrong-text {
    background-color:#eecccc;
    display:none;
}

.skip-text {
    background-color:#f8f8cc;
    display:none;
}

.staff-options {
    background-color:#f8f8cc;
}

.messages {
    background-color:#ddddff;
}

.staff-options a {
    text-decoration:underline;
}

/* Utility */
.stretch {
    display:-webkit-flex;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
}


/* Links */
a {
    text-decoration:none;
    color:inherit;
}

div:not(.content) > a {
    text-decoration:underline;
}

section a {
    text-decoration:underline;
}

header a {
    text-decoration:none !important;
}
