{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='container'>
    <div class='sidebar'>
        <div class='location'>{% block location %}&nbsp;{% endblock %}<hr/></div>
        <div class='sidebar-contents'>{% block sidebar %}&nbsp;{% endblock %}</div>
        <div class='stretch'></div>
        <form action='{% url "users:logout" %}' method='POST' class='logout-form'>
            <hr/>
            {% csrf_token %}
            {{ user.username }} - <input type='submit' value='Log Out'/> 
        </form>
        <img width='16' height='16' src='{% static "icons/close_menu.png" %}' class='expand-img'/>
    </div>
    
    <div class='content'>
        <div id='error'>
            <span id='error-body'></span>
            <img width=16 height=16 alt='Dismiss' title='Dismiss'src='{% static "icons/close.png" %}' id='error-close'/>
        </div>
        {% block body %}&nbsp;{% endblock %}
    </div>
</div>
{% endblock %}
