{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        {% block first-head %}{% endblock %}
        <title>{% block title %}No title given{% endblock %}</title>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script src='{% static "scripts.js" %}'></script>
        <link rel='stylesheet' type='text/css' href='{% static "styles.css" %}'/>
        <meta charset='UTF-8'>
        <script>
            window.rthingAssets = {
                "close_menu":"{% static 'icons/close_menu.png' %}",
                "open_menu":"{% static 'icons/open_menu.png' %}",
            }
        </script>
        {% block extra-head %}{% endblock %}
    </head>
    
    <body>
        {% block content %}
        This document defines no content.
        {% endblock %}
        <div style='display:none' id='csrf'>{{ csrf_token }}</div>
    </body>
</html>
