{% load staticfiles %}
<!DOCTYPE html>

<html lang='en-GB'>
    <head>
        {% block first-head %}{% endblock %}
        <title>{% block title %}No title given{% endblock %}</title>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$']],
            }
        });
        </script>

        <script src='{% static "scripts.js" %}'></script>
        <link rel='stylesheet' type='text/css' href='{% static "styles.css" %}'/>
        <meta charset='UTF-8'>
        <script>
            window.rthingAssets = {
                "close_menu":"{% static 'icons/close_menu.png' %}",
                "open_menu":"{% static 'icons/open_menu.png' %}",
            }
        </script>
        {% block extra-head %}{% endblock %}
    </head>
    
    <body {% block body-extras %}{% endblock %}>
        {% block body %}
        <main>This document defines no content.</main>
        {% endblock %}
        <div style='display:none' id='csrf'>{{ csrf_token }}</div>
    </body>
</html>
