{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='container'>
    <nav class='sidebar'>
        <div class='location'>{% block location %}&nbsp;{% endblock %}<hr/></div>
        <div class='sidebar-contents'>{% block sidebar %}&nbsp;{% endblock %}</div>
        <div class='stretch'></div>
        {% if not use_remote_user %}
            <form action='{% url "users:logout" %}' method='POST' class='logout-form'>
                <hr/>
                {% csrf_token %}
                {{ user.username }} - <input type='submit' value='Log Out'/>
                <br/><a href='{% url "users:edit" %}'>Change Password</a>
            </form>
        {% endif %}
        <img width='16' height='16' src='{% static "icons/close_menu.png" %}' class='expand-img' alt='Expand'/>
    </nav>
    
    <main class='content'>
        <div id='error'>
            <span id='error-body'></span>
        <img width=16 height=16 alt='Dismiss' title='Dismiss' src='{% static "icons/close.png" %}' id='error-close'/>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {% if not forloop.first %}<br/>{% endif %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% block body %}&nbsp;{% endblock %}
    </main>
</div>
{% endblock %}
