{% extends "base_sidebar.html" %}
{% load lformat %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
{% if user.is_staff %}
    <div class='staff-options'>
        As a staff member, you can do the following with this course:<br/>
        - <a href='{% url "admin:courses_course_change" course.pk %}'>Edit it</a><br/>
        - <a href='{% url "admin:courses_lesson_add" %}?course={{ course.pk }}'>Add a lesson</a><br/>
        - <a href='{% url "staff:add_users" course=course.slug %}'>Add/Remove students</a>
    </div>
{% endif %}

{{ course.description|lformat }}

{% for l in lessons %}
    <div class='lesson-block{% if not l.0.published %} unpublished{% endif %}
        {% if not l.0.answers_published %} no-answers{% endif %}'>
        <div class='title'>
            <a href='{% url "courses:lesson" course=course.slug lesson=l.0.slug %}'>{{ l.0.title }}</a>
        </div>
        <div class='stretch'></div>
        <div class='sections'>
        {% for s in l.1 %}
        <a href='{% url "courses:lesson" course=course.slug lesson=l.0.slug %}?t={{ forloop.counter }}'
            class='lesson-section section-state-{{ s }}'>{{ forloop.counter }}</a>
        {% endfor %}
        </div>
    </div>
{% endfor %}

{{ course.ending|lformat }}
{% endblock %}

{% block location %}{{ course.title }}{% endblock %}

{% block sidebar %}
<ul>
    <li><a href='{% url "courses:index" %}'>Courses</a></li>
    {% for c in all_courses %}
        <li> - <a href='{% url "courses:course" course=c.slug %}'>{{ c.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
