{% extends "base_sidebar.html" %}
{% load lformat staticfiles %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
{% if user.is_staff %}
    <nav class='staff-options'>
        As a staff member, you can do the following with this course:<br/>
        - <a href='{% url "admin:courses_course_change" course.pk %}'>Edit it</a><br/>
        - <a href='{% url "admin:courses_lesson_add" %}?course={{ course.pk }}'>Add a lesson</a><br/>
        - <a href='{% url "admin:courses_lesson_changelist" %}?course__id__exact={{course.pk}}'>Manage lessons</a><br/>
        - <a href='{% url "staff:add_users" course=course.slug %}'>Add/Remove students</a><br/>
        - <a href='{% url "export:export" course=course.slug %}'>Export to text</a><br/>
    </nav>
{% endif %}

<header>
{{ course.description|lformat }}
</header>

{% for l in lessons %}
    <header class='lesson-block{% if not l.0.published %} unpublished{% endif %}
        {% if not l.0.answers_published %} no-answers{% endif %}'>
        <div class='title'>
            <a href='{% url "courses:lesson" course=course.slug lesson=l.0.slug %}'>{{ l.0.title }}</a>
        </div>
        <div class='stretch'></div>
        <div class='sections'>
        {% for s in l.1 %}
        <a href='{% url "courses:lesson" course=course.slug lesson=l.0.slug %}?t={{ forloop.counter }}'
            class='lesson-section section-state-{{ s }}'>{{ forloop.counter }}</a>
        {% endfor %}
        <a href='{% url "courses:print_lesson" course=course.slug lesson=l.0.slug %}'>
            <img src='{% static "icons/print.png" %}' alt='Print' title='Print View' style='vertical-align:middle'/>
        </a>
        {% if user.is_staff or l.0.answers_published %}
        <a href='{% url "courses:print_lesson_answers" course=course.slug lesson=l.0.slug %}'>
            <img src='{% static "icons/answers.png" %}' alt='Answers' title='Answers' style='vertical-align:middle'/>
        </a>
        {% endif %}
        </div>
    </header>
{% empty %}
    {% if user.is_staff %}
        <nav class='staff-options'>
            There are no lessons in this course; maybe you want to 
            <a href='{% url "admin:courses_lesson_add" %}?course={{ course.pk }}'>add a lesson</a>?
        </nav>
    {% endif %}
{% endfor %}

{{ course.ending|lformat }}
{% endblock %}

{% block location %}{{ course.title }}{% endblock %}

{% block sidebar %}
<ul>
    <li><a href='{% url "courses:index" %}'>Courses</a></li>
    {% for c in all_courses %}
        <li> - <a href='{% url "courses:course" course=c.slug %}'>{{ c.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
