{% extends "base_sidebar.html" %}

{% block title %}Courses{% endblock %}

{% block body %}
<div>
    Hello student! These are the courses you are currently enrolled in!
</div>
{% for c in courses %}
    <a href='{% url "courses:course" course=c.slug %}'>
    <div class='course-block {% if not c.published %}unpublished{% endif %}' >
        <div class='title'>{{ c.title }}</div>
        <div class='stretch'></div>
        <div class='code'>{% if not c.published %}Unpublished - {% endif %}{{ c.code }}</div>
    </div>
    </a>
{% endfor %}
{% endblock %}

{% block location %}Courses{% endblock %}
