{% extends "base_sidebar.html" %}

{% block title %}Courses{% endblock %}

{% block content %}
{% if user.is_staff %}
    <nav class='staff-options'>
        As a staff member, you can do the following:<br/>
        - <a href='{% url "staff:help_general" %}'>View staff member help</a><br/>
        <br/>
        - <a href='{% url "admin:courses_course_add" %}'>Add a course</a><br/>
        - <a href='{% url "admin:index" %}'>View the admin interface directly</a><br/>
        - <a href='{% url "export:import" %}'>Import a course</a>
    </nav>
{% endif %}
<div>
    Hello {{ user.username }}! These are the courses you can currently access!
</div>

{% if user.extra.last_task %}
<div>
    You can also <a href='{{ user.extra.last_task.get_absolute_url }}'>continue from the last question you did</a>.
</div>
{% endif %}

{% for c in courses %}
    <header class='course-block {% if not c.published %}unpublished{% endif %}' >
        <div class='title'><a href='{% url "courses:course" course=c.slug %}'>{{ c.title }}</a></div>
        <div class='stretch'></div>
        <div class='code'>{% if not c.published %}Unpublished - {% endif %}{{ c.code }}</div>
    </header>
{% empty %}
    {% if user.is_staff %}
        <nav class='staff-options'>
            There are no courses yet; maybe you want to 
            <a href='{% url "admin:courses_course_add" %}'>add a course</a>?
        </nav>
    {% endif %}
{% endfor %}
{% endblock %}

{% block sidebar %}
<ul>
    {% for c in courses %}
        <li><a href='{% url "courses:course" course=c.slug %}'>{{ c.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block location %}Courses{% endblock %}
