{% extends "base_sidebar.html" %}

{% block title %}Courses{% endblock %}

{% block body %}
{% if user.is_staff %}
    <div class='staff-options'>
        As a staff member, you can do the following:<br/>
        - <a href='{% url "admin:courses_course_add" %}'>Add a course</a><br/>
        - <a href='{% url "admin:index" %}'>View the admin interface directly</a>
    </div>
{% endif %}
<div>
    Hello {{ user.username }}! These are the courses you can currently access!
</div>
{% for c in courses %}
    <a href='{% url "courses:course" course=c.slug %}'>
    <div class='course-block {% if not c.published %}unpublished{% endif %}' >
        <div class='title'>{{ c.title }}</div>
        <div class='stretch'></div>
        <div class='code'>{% if not c.published %}Unpublished - {% endif %}{{ c.code }}</div>
    </div>
    </a>
{% endfor %}
{% endblock %}

{% block location %}Courses{% endblock %}
