{% extends "base_sidebar.html" %}
{% load lformat fragments %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}
{% if user.is_staff %}
    <nav class='staff-options'>
        As a staff member, you can do the following with this lesson:<br/>
        - <a href='{% url "admin:courses_lesson_change" lesson.pk %}'>Edit it</a><br/>
        - <a href='{% url "admin:courses_section_add" %}?lesson={{ lesson.pk }}'>Add a section</a><br/>
        - <a href='{% url "admin:courses_section_changelist" %}?lesson__id__exact={{lesson.pk}}'>
            Manage sections
        </a><br/>
        - <a href='{% url "staff:files" lesson=lesson.slug course=course.slug %}'>Manage files</a><br/>
        - <a href='{% url "stats:lesson" course=course.slug lesson=lesson.slug %}'>View statistics</a><br/>
    </nav>
{% endif %}

{% lesson_start lesson %}
{% if section %}{% section_start section user.is_staff %}{% endif %}
{% if task %}{% task task %}{% endif %}

{% endblock %}

{% block location %}{{ lesson.title }}{% endblock %}

{% block sidebar %}
<ul>
    <li><a href='{% url "courses:course" course=course.slug %}'>{{ course.title }}</a></li>
    {% for l in all_lessons %}
        <li> - <a href='{% url "courses:lesson" course=course.slug lesson=l.slug %}'>{{ l.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
