{% extends "base_print.html" %}
{% load lformat %}

{% block title %}Print Answers: {{ lesson.title }}{% endblock %}

{% block content %}

<h3>{{ lesson.title }} - {% if lesson.course.code %}{{ lesson.course.code }}: {% endif %}{{ lesson.course.title }}
(Answers)</h3>

{{ lesson.introduction|lformat_print:lesson.pk }}

{% for s in lesson.sections.all %}
    <h3>{{ s.order|add:1 }}: {{ s.title }}</h3>
    {{ s.introduction|lformat_print:lesson.pk }}
    
    <ol>
    {% for t in s.tasks.all %}
        <li>
            {{ t.description|lformat_print:lesson.pk }}
            <div class='prompt'>{% spaceless %}
                {% if t.visible_pre_code %}
                {{ t.visible_pre_code }}<br/>{% endif %}
                {{ t.model_answer }}<br/>
            {% endspaceless %}</div>
            {{ t.commentary }}
        </li>
    {% endfor %}
    </ol>
    
    {{ s.closing|lformat_print:lesson.pk }}
{% endfor %}


{% endblock %}
