{% extends "base_staff.html" %}
{% load lformat fancy %}

{% block title %}{{ lesson.title }} Statistics{% endblock %}

{% block body %}
<div>
    You are viewing statistics for this lesson. 
</div>

<div>
    If you like you can export statistics to CSV:
        <a href='{% url "stats:csv_lesson" course=course.slug lesson=lesson.slug %}'>By task</a> - 
        <a href='{% url "stats:csv_users" course=course.slug lesson=lesson.slug %}'>By user</a>
    
</div>

<div>
    The following students are enrolled on this course:<br/>
    {% for u in course.users.all %}{% spaceless %}
        {% if not forloop.first %}, {% endif %}
        <a href='{% url "stats:user" course=course.slug lesson=lesson.slug name=u.username %}'>{{ u.username }}</a>
    {% endspaceless %}{% endfor %}
</div>

{% for s in sectiondata %}
    <div class='section-head'>{{ s.section.order|add:1 }}: {{ s.section.title }}</div>
    
    {% for t in s.taskdata %}
        {% if not forloop.first %}<hr/>{% endif %}
        
        {{ t.task.description|lformat:s.section.lesson.pk }}
        
        <div>
            - {{ t.attempts|fancy:t.users_on_course }} people have attempted this question<br/>
            - {{ t.correct|fancy:t.attempts }} got it correct<br/>
            - {{ t.revealed|fancy_low:t.attempts }} revealed the answer<br/>
            - {{ t.average_tries_correct|fancy_float_low:10 }}
                is the average number of tries before a person got it correct<br/>
            - {{ t.average_tries_reveal|fancy_float:10 }}
                is the average number of tries before a person revealed the answer<br/>
            - {{ t.completion|fancy_percent }} of people who attempted this question got it correct<br/>
            - <a href='{% url "stats:wrong" task=t.task.pk %}'>View wrong answers</a>
        </div>
        
    {% endfor %}
{% endfor %}
{% endblock %}

{% block location %}Stats: {{ lesson.title }}{% endblock %}

{% block sidebar %}
<ul>
    <li><a href='{% url "courses:course" course=course.slug %}'>{{ course.title }}</a></li>
    {% for l in all_lessons %}
        <li> - <a href='{% url "stats:lesson" course=course.slug lesson=l.slug %}'>{{ l.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
