{% extends "base_staff.html" %}
{% load lformat fragments %}

{% block title %}{{ lesson.title }} Statistics{% endblock %}

{% block body %}
<div>
    You are viewing statistics for this lesson.
    
    {% for s in sectiondata %}
        <div class='section-head'>{{ s.section.order|add:1 }}: {{ s.section.title }}</div>
        
        {% for t in s.taskdata %}
            {% if not forloop.first %}<hr/>{% endif %}
            
            <div>For the task starting with "{{ t.task.description|truncatewords:100 }}":<br/>
                - {{ t.attempts }} people have attempted this question<br/>
                - {{ t.correct }} got it correct<br/>
                - {{ t.revealed }} revealed the answer<br/>
                - {{ t.average_tries_correct }} is the average number of tries before a person got it correct<br/>
                - {{ t.average_tries_reveal }} is the average number of tries before a person revealed the answer<br/>
                - {{ t.completion }} is the fraction of people who attempted this question, and got it correct<br/>
            </div>
            
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}

{% block location %}Stats: {{ lesson.title }}{% endblock %}

{% block sidebar %}
<ul>
    <li><a href='{% url "courses:course" course=course.slug %}'>{{ course.title }}</a></li>
    {% for l in all_lessons %}
        <li> - <a href='{% url "stats:lesson" course=course.slug lesson=l.slug %}'>{{ l.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
