{% extends "base_staff.html" %}
{% load lformat %}

{% block title %}Answers for task {{ task.pk }}{% endblock %}

{% block content %}
<header>
    {% if task.automark %}
        You are viewing the wrong answers for the task:
    {% else %}
        You are viewing the answers for the task:
    {% endif %}
</header>

{{ task.description|lformat:task.lesson.pk }}

<section>
    This task is in the lesson
        <a href='{% url "stats:lesson" course=task.course.slug lesson=task.lesson.slug %}'>{{ lesson.title }}</a>.
</section>

<section>
    The model answer for this question is:
    <div class='prompt'>
        {{ task.model_answer }}
    </div>
</section>
    
<section>
    {% for outer in wrong %}
        {% if outer %}
            {% with lesson=task.lesson %}
                For the user <a href='
                    {% url "stats:user" name=outer.0.uot.user.username course=lesson.course.slug lesson=lesson.slug %}
                '>{{ outer.0.uot.user.username }}</a> (Status: {{ outer.0.uot.status_span|safe }}):
            {% endwith %}
            {% for inner in outer %}
                <div class='prompt'>{{ inner.code }}</div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</section>
{% endblock %}

{% block location %}{% if task.automark %}Wrong Answers{% else %}Answers{% endif %}{% endblock %}

{% block sidebar %}

{% endblock %}
