{% extends "base.html" %}
{% load form_errors %}

{% block title %}Password Reset Complete{% endblock %}

{% block body %}
<main class='no-sidebar-block'>
    {% form_errors form %}
    {% if forced %}
        Sorry, but because this is the first time you have logged in, you need to set a new password.
    {% endif %}
    Just enter a new password twice
    <form method="post">
        {% csrf_token %}
        <br/>Old Password:
        <br/>{{ form.old_password }}
        <br/>New Password:
        <br/>{{ form.new_password1 }}
        <br/>{{ form.new_password2 }}
        <br/><input type="submit" value="Set Password" />
    </form>
</main>
{% endblock %}
