{% load lformat %}
<div class='fragment' data-type='section-start' data-order='{{ section.order }}'>
    <div class='section-head'>{{ section.order|add:1 }}: {{ section.title }}</div>
    {% if staff %}
        <div class='staff-options'>
            As a staff member, you can do the following with this section:<br/>
            - <a href='{% url "admin:courses_section_change" section.pk %}'>Edit it</a><br/>
        </div>
    {% endif %}
    {{ section.introduction|lformat:section.lesson.pk }}
</div>
