{% load lformat fragments staticfiles %}
<section class='fragment' data-type='task' data-id='{{ task.pk }}' data-order='{{ task.section.order }}-{{ task.order }}'>
    <hr/>
    {{ task.description|lformat:task.section.lesson.pk }}
    <form class='prompt' method='POST' action='{% url "tasks:submit" task=task.pk %}'
        {% if multiline %}data-multiline{% endif %}
    >
        <input type='hidden' name='mode' value=''/>
        {% if not task.automark %}<div class='no-answer-exists'>
            This question cannot be automatically checked; try it and click the continue button to see the model answer.
        </div>{% endif %}
        {% if multiline %}<div class='is-multiline'>
            This question expects multiple lines of code.
        </div>{% endif %}
        {% if task.takes_prior %}<div class='takes-prior'>
            This question continues on from the previous question.
        </div>{% endif %}
        {% if pre_lines and pre_lines.0 %}
            <div class='pre-code'>
                {% for l in pre_lines %}
                    <span class='prompt-indicator'>{{ task.iface.PROMPT }}</span> {{ l }}<br/>
                {% endfor %}
            </div>
        {% endif %}
        
        {% prompt_entry task %}
        
        {% if task.lesson.answers_published %}
            <img class='prompt-button reveal' title='Reveal' alt='Reveal' src='{% static "icons/reveal.png" %}'
                width=16 height=16
            />
        {% endif %}
        
        {% if task.automark %}
            <img class='prompt-button skip' title='Skip' alt='Skip' src='{% static "icons/skip.png"%}'
                width=16 height=16
            />
        {% else %}
            <img class='prompt-button skip' title='Continue' alt='Continue' src='{% static "icons/continue.png"%}'
                width=16 height=16
            />
        {% endif %}
        
        {% if multiline %}
            <img class='prompt-button run' title='Run' alt='Run' src='{% static "icons/run.png" %}'
                width=16 height=16
            />
        {% endif %}
    </form>
    
    <div class='wrong-text'></div>
    <div class='skip-text'></div>
    <div class='after-text'></div>
</section>
