{% load lformat fragments %}
<div class='fragment' data-type='task' data-id='{{ task.pk }}' data-order='{{ task.section.order }}-{{ task.order }}'>
    {{ task.description|lformat }}
    <form class='prompt' method='POST' action='{% url "tasks:submit" task=task.pk %}'>
        {% if pre_lines and pre_lines.0 %}
            <div class='pre-code'>
                {% for l in pre_lines %}
                    <span class='prompt-indicator'>{{ task.iface.PROMPT }}</span> {{ l }}<br/>
                {% endfor %}
            </div>
        {% endif %}
        
        {% prompt_entry task %}
    </form>
</div>
